* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.pageWrapper{
    max-width: 1250px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #224665;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*---------NAVBAR------------*/
.icon1,
.icon2,
.icon3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-icon {
    width: 10%;
    height: auto;
    position: relative;
    padding-left: 7%;
    padding-top: .5%;
    padding-bottom: 1%;
}
nav h1{
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
}

nav {
    width: 100%;
    height: auto;
    background: white;
    position: fixed;
    box-shadow: 0px 3px 15px -3px #a1a1a1;
}

nav:hover {
    background: #e0e0e0;
}


nav:hover .content {
    display: block;
}

.content li a {
    color: aqua;
    text-decoration: none;
}

.content li {
    width: 100%;
    background: #6d75ce;
    padding: 2%;
    padding-left: 10%;
}

.pageWrapper h1 {
    padding-top: 4%;
    text-align: center;
}

.homePageList {
    padding-top: 3%;
    width: 70px;
    margin: auto;
}

.homePageList ul li {
    margin-top: 4%;
}

/*----------PAGE 2 -------------*/

.page2 h1 {
    padding-top: 100px;
    text-align: center;
}

.page2 h3 {
    margin-top: 4%;
    margin-bottom: 1%;
}

.inputField {
    width: 60%;
    margin: auto;
    padding-top: 4%;
}

.inputFiled:focus {
    color: darkslategray;
}

input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 1%;
}

input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #101076;
    transition: .4s;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
}

