* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.icon1,
.icon2,
.icon3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-icon {
    width: 6%;
    height: auto;
    position: relative;
}

nav {
    width: 100%;
    height: auto;
    background: white;
    position: fixed;
}

nav:hover {
    background: gray;
}


nav:hover .content {
    display: block;
}

.content li a {
    color: aqua;
    text-decoration: none;
}

.content li {
    width: 100%;
    background: #6d75ce;
    padding: 2%;
    padding-left: 10%;
}

.wrapper h1 {
    padding-top: 4%;
    text-align: center;
}

.homePageList {
    width: 50%;
    margin: 3% 25% 2% 25%;
    padding-left: 18%;
}

.homePageList ul li {
    margin-top: 4%;
}



.page2 h1 {
    padding-top: 11%;
    text-align: center;
}

.page2 h3 {
    margin-top: 4%;
    margin-bottom: 1%;
    width: 10%;
}

.inputField {
    margin-left: 21%;
    width: 60%;
}

.inputFiled:focus {
    color: darkslategray;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 1%;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 5px solid blue;
    transition: .3s ease;
}

button {
    width: 80px;
    margin-left: 44%;
    margin-top: 2%;
}
